.item-card-home {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 1rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

select {
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.5rem;
}

button {
  background-color:#0E4F55;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: calc(33.33% - 1rem);
}

Row{
  border: none;
}
Col{
  border: none;
}
Container{
  border: none;
}