/* Style for the heading "Your Products" */

ul{
    display: flex;
    flex-direction: row;
   }

.item-card {
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:black;
}

/* Style for the link "add new product/item" */
a {
    display: block;
    font-size: 16px;
    color:black;
    text-decoration: none;
    margin-bottom: 20px;
}
a:hover{
    color: green;
}

/* Style for the unordered list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for the individual item card */
.item-card {
    background-color: #fff;
    border-radius: 4px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Style for the item name */
.item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the item details */
.item-details {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style for the item price */
.item-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}