.navbar_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:white;
  color: #f7f3f3;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-img {
  /* border: solid; */
  width: 75px;
  height: 70px;
  margin-right: 1rem;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__menu-item{
  font-size: larger;
  color:black;
  text-decoration: none;
  margin-right: 1rem;
  
}
.navbar__menu-item:hover{
  color:#0E4F55;
  text-decoration: none;
}
.navbar__user {
  margin-left: 1rem;
}

